/* 布局组件样式 */

/* 侧边栏布局样式 */
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.sidebar-footer {
  flex-shrink: 0;
}

/* 自定义菜单样式 */
:host ::ng-deep .menu-custom.ant-menu {
  background-color: transparent;
}

:host ::ng-deep .menu-custom .ant-menu-item {
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  height: auto;
  padding: 0.5rem 1rem;
  color: #374151;
  font-weight: 500;
  line-height: 1.5rem;
}

:host ::ng-deep .menu-custom .ant-menu-item:hover {
  background-color: rgb(243, 232, 255);
  color: rgb(126, 34, 206);
}

:host ::ng-deep .menu-custom .ant-menu-item-selected {
  background-color: rgb(243, 232, 255);
  color: rgb(126, 34, 206);
  font-weight: 600;
}

:host ::ng-deep .menu-custom .ant-menu-submenu-title {
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  height: auto;
  padding: 0.5rem 1rem;
  color: #374151;
  font-weight: 500;
  line-height: 1.5rem;
}

:host ::ng-deep .menu-custom .ant-menu-submenu-title:hover {
  background-color: rgb(243, 232, 255);
  color: rgb(126, 34, 206);
}

:host ::ng-deep .menu-custom .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: rgb(126, 34, 206);
}

:host ::ng-deep .menu-custom .ant-menu-submenu-arrow {
  color: #9CA3AF;
}

:host ::ng-deep .menu-custom .ant-menu-submenu-title:hover .ant-menu-submenu-arrow {
  color: rgb(126, 34, 206);
}

/* 图标对齐样式 */
:host ::ng-deep .ant-menu-inline-collapsed .ant-menu-item,
:host ::ng-deep .ant-menu-inline-collapsed .ant-menu-submenu-title {
  padding: 0 calc(50% - 16px) !important;
  text-align: center;
}

/* 固定侧边栏样式 */
:host ::ng-deep .ant-layout-sider {
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 10;
}

:host ::ng-deep .main-content-wrapper {
  margin-left: 272px;
  transition: margin-left 0.3s;
  max-width: 100%;
  overflow-x: hidden;
}

:host ::ng-deep .main-content-wrapper.collapsed {
  margin-left: 100px;
}

/* 响应式调整 */
@media (max-width: 768px) {
  :host ::ng-deep .main-content-wrapper {
    margin-left: 100px;
  }
}

:host ::ng-deep .collapsed-close .ant-menu-title-content{
  display: none !important;
}

:host ::ng-deep .ant-menu-sub.ant-menu-inline{
  background: white;
}


 ::ng-deep .ant-dropdown{
  padding: 16px !important;
}
