<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="container">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>Logo</nz-form-label>
        <nz-form-control nzErrorTip="请上传 Logo">
          <app-customer-file-list [props]="fileParams" formControlName="logo"></app-customer-file-list>
        </nz-form-control>
      </nz-form-item>

      <div class="grid grid-cols-2 gap-x-4">
        <nz-form-item>
          <nz-form-label nzRequired>Action</nz-form-label>
          <nz-form-control nzErrorTip="请输入任务 Action">
            <input nz-input formControlName="action" placeholder="请输入任务 Action" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>Action Text</nz-form-label>
          <nz-form-control nzErrorTip="请输入任务文案">
            <input nz-input formControlName="action_text" placeholder="请输入任务文案" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label>Params</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="params" placeholder="请输入参数" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>任务标识</nz-form-label>
        <nz-form-control [nzErrorTip]="configKeyErrorTpl">
          <input nz-input formControlName="task_key" placeholder="请输入任务标识" />
          <div class="mt-1 text-xs text-gray-500">任务标识应由字母、数字和下划线组成，以字母开头</div>
          <ng-template #configKeyErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入任务标识</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">任务标识格式不正确，应由小写字母、数字和下划线组成，以字母开头</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>任务名称</nz-form-label>
        <nz-form-control nzErrorTip="请输入任务名称">
          <input nz-input formControlName="task_name" placeholder="请输入任务名称" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>任务描述</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="task_desc" placeholder="请输入任务描述"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <div class="grid grid-cols-2 gap-x-4">
        <nz-form-item>
          <nz-form-label nzRequired>代币奖励</nz-form-label>
          <nz-form-control nzErrorTip="请输入代币奖励数量">
            <nz-input-number formControlName="token_reward" [nzMin]="1" [nzStep]="1" [nzPlaceHolder]="'请输入代币奖励数量'"
              class="w-full"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>每日限制</nz-form-label>
          <nz-form-control nzErrorTip="请输入每日可完成次数">
            <nz-input-number formControlName="daily_limit" [nzMin]="1" [nzStep]="1" [nzPlaceHolder]="'请输入每日可完成次数'"
              class="w-full"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label nzRequired>间隔时间（秒）</nz-form-label>
        <nz-form-control nzErrorTip="请输入任务间隔时间">
          <nz-input-number formControlName="interval_seconds" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'请输入任务间隔时间'"
            class="w-full"></nz-input-number>
          <div class="text-gray-400 mt-1 text-xs">0 表示无间隔限制，86400 = 1天，3600 = 1小时</div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>开始时间</nz-form-label>
        <nz-form-control nzErrorTip="请选择开始时间">
          <nz-date-picker formControlName="valid_from" class="w-full"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>结束时间</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="valid_to" class="w-full"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzRequired>是否可重复</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="repeatable">
            <label nz-radio [nzValue]="1">可重复</label>
            <label nz-radio [nzValue]="0">不可重复</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="false">
        <nz-form-label nzRequired>状态</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="status">
            <label nz-radio [nzValue]="1">启用</label>
            <label nz-radio [nzValue]="0">禁用</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
</div>

<div class="button">
  <button [disabled]="loading" (click)="close()" nz-button type="reset" nzType="default" nzSize="default">取消</button>
  <button [disabled]="loading" (click)="submit()" nz-button nzType="primary" nzSize="default">提交</button>
</div>
