<form nz-form [formGroup]="confirmPasswordForm" (ngSubmit)="submitStep()" autocomplete="off">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
      <nz-input-group class="rounded-[6px]">
        <input class="h-8"  type="text" nz-input formControlName="confirmPassword" placeholder="请再次输入新密码" autocomplete="new-password" />
      </nz-input-group>
      <ng-template #confirmPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          确认密码是必填项！
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordMismatch')">
          两次输入的密码不一致！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="flex justify-between">
    <button type="button" nz-button nzType="default" (click)="goBack()">上一步</button>

    <button nz-button nzType="primary" [disabled]="confirmPasswordForm.invalid || isLoading()" class="mr-2">修改密码</button>
  </nz-form-item>
</form>


