.img-bg {
  background-image: url("../../../assets/img/signin-ill.png");
  background-size: cover;
  background-position: center;
}

.btn-login {
  width: 100%;
  letter-spacing: -0.025rem;
  text-transform: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #5e72e4;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 36px;
  /* line-height: 36px; */
}
