.container {
  padding: 24px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.button {
  padding: 16px 24px;
  border-top: 1px solid #f0f0f0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

