<!-- system-config.component.html -->


<form nz-form [formGroup]="oldPasswordForm" (ngSubmit)="submitStep()" autocomplete="off">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="oldPasswordErrorTpl">
      <nz-input-group class="rounded-[6px]" >
        <input class="h-8" type="text" nz-input formControlName="oldPassword" placeholder="请输入旧密码" autocomplete="current-password" />
      </nz-input-group>
      <ng-template #oldPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          旧密码是必填项！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="flex justify-end">
    <button type="submit" nz-button nzType="primary" [disabled]="oldPasswordForm.invalid">下一步</button>
  </nz-form-item>
</form>


