<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="container">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>特性代码</nz-form-label>
        <nz-form-control [nzErrorTip]="configKeyErrorTpl">
          <input nz-input formControlName="feature_code" placeholder="请输入特性代码" />
          <div class="mt-1 text-xs text-gray-500">特性代码应由字母、数字和下划线组成，以字母开头</div>
          <ng-template #configKeyErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入特性代码</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">特性代码格式不正确，应由小写字母、数字和下划线组成，以字母开头</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>特性名称</nz-form-label>
        <nz-form-control nzErrorTip="请输入特性名称">
          <input nz-input formControlName="feature_name" placeholder="请输入特性名称" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>代币消费</nz-form-label>
        <nz-form-control nzErrorTip="请输入代币消费数量">
          <nz-input-number formControlName="token_cost" [nzMin]="1" [nzStep]="1" [nzPlaceHolder]="'请输入代币消费数量'"
            class="w-full"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>分类</nz-form-label>
        <nz-form-control nzErrorTip="请输入分类">
          <input nz-input formControlName="classify" placeholder="请输入分类" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>特性描述</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="feature_desc" placeholder="请输入特性描述"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="false">
        <nz-form-label nzRequired>状态</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="status">
            <label nz-radio [nzValue]="1">启用</label>
            <label nz-radio [nzValue]="0">禁用</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
</div>

<div class="button">
  <button [disabled]="loading" (click)="close()" nz-button type="reset" nzType="default" nzSize="default">取消</button>
  <button [disabled]="loading" (click)="submit()" nz-button nzType="primary" nzSize="default">提交</button>
</div>
